@import '../modules/nullStyle.scss';
@import '../modules/fonts.scss';
@import '../modules/variables.scss';
@import '../modules/bootstrap.scss';


.footer {
  padding: 2vw 5vw;
  background-image: url("./img/footerBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  display: grid;
  gap: 10px;
  grid-template-columns: 33% auto 6.5vw auto;

  align-items: center;

  &__logo {}

  &__networks {
    justify-self: center;
  }

  &__links {
    justify-self: end;
    display: grid;
    grid-template-columns: auto auto;
  }

  &__column {
    margin-left: 4vw;

    &_2 {
      margin-left: 8vw;
    }
  }

  &__item {
    margin: 1.4vw 0 1.4vw 0;
  }

  &__link {
    color: #fff;
    position: relative;
  }

  &__link::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    height: 20px;
    width: 2px;
    background-color: #fff;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__text {
    position: relative;
  }

  &__text::before {
    content: "©";
    position: absolute;
    left: -20px;
    top: 0;
  }

  .foot-logo {

    &__image {
      margin-bottom: 1vw;

      img {
        width: 100%;
      }
    }

    &__text {}
  }

  .networks {
    &__list {}

    &__item {
      margin: calc(4px + 1.4vw);
    }

    &__link {

      & img {
        width: 100%;
      }
    }
  }
}

.window-main {
  transition: all 0.2s ease-in;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);

  z-index: 20;
  padding: 10px;

  width: calc(300px + 10vw);
  min-height: calc(100px + 5vw);
  border: 3px solid $yellow;

  background-color: $white;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  row-gap: 10px;
  align-items: center;

  &__title {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__button {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    padding-bottom: 20px;
  }

  &_hide {
    opacity: 0;
    visibility: hidden;
  }
}

.window-error {
  transition: all 0.2s ease-in;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);

  z-index: 20;
  padding: 10px;

  width: calc(300px + 10vw);
  min-height: calc(100px + 5vw);
  border: 3px solid $yellow;

  background-color: $white;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  row-gap: 10px;
  align-items: center;

  &__title {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__button {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__text {
    padding-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
  }

  &_hide {
    visibility: hidden;
    opacity: 0;
  }
}

.window-cookie {
  transition: all 0.2s ease-in;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);

  z-index: 20;
  padding: 10px;

  width: calc(300px + 10vw);
  min-height: calc(100px + 5vw);
  border: 3px solid $yellow;

  background-color: $white;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  row-gap: 10px;
  align-items: center;

  &__title {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  &__text {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
  }

  &__button {
    font-family: $medium;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 7px 20px;
    border: 3px solid $yellow;
    border-radius: 10px;
  }

  &_hide {
    visibility: hidden;
    opacity: 0;
  }
}



@media (max-width: 460px) {
  .footer {
    grid-template-columns: 1fr 4fr 1fr;

    &__links {
      display: none;
    }

    .foot-logo {
      display: none;
    }

    .networks {
      &__list {
        display: flex;

        & img {
          margin: 0 2vw;
          width: 40px;
        }
      }

    }
  }

  .window-cookie,
  .window-error,
  .window-main {
    width: calc(90vw);
    border: 1px solid $yellow;
  }

  .window-cookie {
    &__button {
      border: 1px solid $yellow;
    }
  }
}

@media (min-width: 461px) and (max-width: 1023px) {
  .footer {
    grid-template-columns: 1fr 4fr 1fr;

    &__links {
      display: none;
    }

    .foot-logo {
      display: none;
    }

    .networks {
      &__list {
        display: flex;

        & img {
          margin: 0 2vw;
          width: 45px;
        }
      }

    }
  }
}

@media (min-width: 1024px) {}