@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  color: black;
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*--------------------*/
@font-face {
  font-family: GolosMedium;
  font-display: swap;
  src: url("../fonts/Golos-Text_Medium.woff2") format("woff2"), url("../fonts/Golos-Text_Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosRegular;
  font-display: swap;
  src: url("../fonts/Golos-Text_Regular.woff2") format("woff2"), url("../fonts/Golos-Text_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 767px) {
  .h1Big {
    font-size: calc(25px + 25.5 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  .h1Big {
    font-size: calc(25px + 15 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  .h1Big {
    font-size: calc(25px + 15 * (40vw / 1280));
  }
}

@media (max-width: 767px) {
  .h3 {
    font-size: calc(15px + 8.5 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  .h3 {
    font-size: calc(15px + 5 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  .h3 {
    font-size: calc(15px + 5 * (40vw / 1280));
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: calc(20px + 20.4 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  h1 {
    font-size: calc(20px + 12 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  h1 {
    font-size: calc(20px + 12 * (40vw / 1280));
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: calc(18px + 13.6 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  h2 {
    font-size: calc(18px + 8 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  h2 {
    font-size: calc(18px + 8 * (40vw / 1280));
  }
}

@media (max-width: 767px) {
  h3 {
    font-size: calc(15px + 13.6 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  h3 {
    font-size: calc(15px + 8 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  h3 {
    font-size: calc(15px + 8 * (40vw / 1280));
  }
}

@media (max-width: 767px) {
  h4 {
    font-size: calc(14px + 10.2 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  h4 {
    font-size: calc(14px + 6 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  h4 {
    font-size: calc(14px + 6 * (40vw / 1280));
  }
}

@media (max-width: 767px) {
  h5 {
    font-size: calc(13px + 8.5 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  h5 {
    font-size: calc(13px + 5 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  h5 {
    font-size: calc(13px + 5 * (40vw / 1280));
  }
}

.search-list {
  margin-top: 80px;
  position: relative;
}

.search-list__list {
  min-width: calc(150px + 15vw);
  max-height: calc(100px + 40vh);
  overflow-y: auto;
  z-index: 9;
  position: fixed;
  right: 10px;
  background-color: #F8D89C;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-list__list a {
  color: #000;
}

.search-list__search-panel {
  display: none;
}

.search-list__search-panel picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.search-list__item {
  margin: calc(6px + 0.1vw) calc(8px + 0.2vw);
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr auto 44px;
      grid-template-columns: 6fr auto 44px;
  gap: calc(8px + 0.5vw);
}

.search-list__item::before {
  content: '';
  position: absolute;
  top: 50%;
  height: 2px;
  width: calc(100% - (52px + 0.5vw));
  background-color: #fff;
}

.search-list__name {
  font-family: GolosMedium;
}

.search-list__price {
  font-family: GolosMedium;
}

.search-list__picture {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

@media (max-width: 460px) {
  .search-list {
    margin-top: 65px;
  }
  .search-list__list {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    visibility: hidden;
    opacity: 0;
    right: 0px;
    width: calc(100%);
  }
  .search-list__list_active {
    visibility: visible;
    opacity: 100%;
  }
  .search-list__search-panel {
    display: block;
    margin: calc(6px + 0.1vw) calc(8px + 0.2vw);
  }
  .search-panel__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    width: 90%;
    padding: 3px 5px 4px 5px;
    border: 2px solid #000;
    border-radius: calc(10px + 10vw);
  }
  .search-panel__input {
    font-size: 16px;
    background-color: #F8D89C;
  }
}

@media (max-height: 460px) {
  .search-list {
    margin-top: 65px;
  }
}

@media (min-width: 461px) and (max-width: 1023px) {
  .search-list__list {
    min-width: calc(150px + 30vw);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    visibility: hidden;
    opacity: 0;
  }
  .search-list__list_active {
    visibility: visible;
    opacity: 100%;
  }
  .search-list__search-panel {
    display: block;
    margin: calc(5px + 0.5vw) calc(7px + 0.7vw);
    padding: 3px;
  }
  .search-panel__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    width: 90%;
    padding: 5px 7px 6px 7px;
    border: 2px solid #000;
    border-radius: calc(10px + 10vw);
  }
  .search-panel__input {
    font-size: 16px;
    width: 85%;
    background-color: #F8D89C;
  }
}

@media (min-width: 1400px) {
  .search-list {
    margin-top: calc(60px + 2vw);
  }
}
/*# sourceMappingURL=search-list.css.map */