@import '../modules/nullStyle.scss';
@import '../modules/fonts.scss';
@import '../modules/variables.scss';
@import '../modules/bootstrap.scss';


.section-items {
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: 1fr;

  row-gap: $gapContent;
  margin: 4vw 10vw;

  display: grid;

  &__delivery {}

  &__delivery-title {
    text-align: center;
    margin-bottom: $indent;
  }

  &__delivery-text {}

  &__payment {}

  &__payment-title {
    text-align: center;
    margin-bottom: $indent;
  }

  &__payment-text {}

  &__contacts {}

  &__contacts-title {
    text-align: center;
    margin-bottom: $indent;
  }

  &__contacts-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: $gapContentS;
    justify-items: center;
  }

  .contacts-body-item {
    display: grid;
    justify-items: center;

    &__offer {
      align-self: flex-start;
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &__quantity {
      align-self: flex-start;
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    &__title {
      margin-bottom: $indentSmall;
    }

    &__phone {}

    &__time {}
  }

  .contacts-body-qr {
    &__phone {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      align-self: center;
    }

    &__code {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      align-self: center;
    }

    &__phone {
      padding: 0 1vw;
      width: 100%;
    }

    &__whatsapp {
      padding: 0 1vw;
      width: 87%;
    }
  }

  &__info {}
}






@media (max-width: 460px) {
  .section-items {
    margin: $indent;

    &__contacts-body {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;

      gap: $indent;
      justify-items: center;
    }

    .contacts-body-item {
      display: grid;
      justify-items: center;

      &__offer {
        align-self: flex-start;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
      }

      &__quantity {
        align-self: flex-start;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
      }

      &__title {
        margin-bottom: $indentSmall;
      }

      &__phone {}

      &__time {}
    }

    .contacts-body-qr {
      &__phone {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: center;
      }

      &__code {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: center;
      }

      &__phone {
        padding: 0 4vw;
        width: 100%;
      }

      &__whatsapp {
        padding: 0 4vw;
        width: 87%;
      }
    }
  }
}

@media (min-width: 461px) and (max-width: 768px) {
  .section-items {
    margin: $indent $indentSmall;

    &__contacts-body {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      gap: $indent;
      justify-items: center;
    }

    .contacts-body-item {
      display: grid;
      justify-items: center;

      &__offer {
        align-self: flex-start;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
      }

      &__quantity {
        align-self: flex-start;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
      }

      &__title {
        margin-bottom: $indentSmall;
      }

      &__phone {}

      &__time {}
    }

    .contacts-body-qr {
      &__phone {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: center;
      }

      &__code {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: center;
      }

      &__phone {
        width: 100%;
      }

      &__whatsapp {
        width: 87%;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .section-items {
    margin: $indentBig;
  }
}

@media (min-width: 1024px) {}