@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  color: black;
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*--------------------*/
@font-face {
  font-family: GolosMedium;
  font-display: swap;
  src: url("../fonts/Golos-Text_Medium.woff2") format("woff2"), url("../fonts/Golos-Text_Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosRegular;
  font-display: swap;
  src: url("../fonts/Golos-Text_Regular.woff2") format("woff2"), url("../fonts/Golos-Text_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 767px) {
  .h1Big {
    font-size: calc(25px + 25.5 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  .h1Big {
    font-size: calc(25px + 15 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  .h1Big {
    font-size: calc(25px + 15 * (40vw / 1280));
  }
}

@media (max-width: 767px) {
  .h3 {
    font-size: calc(15px + 8.5 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  .h3 {
    font-size: calc(15px + 5 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  .h3 {
    font-size: calc(15px + 5 * (40vw / 1280));
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: calc(20px + 20.4 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  h1 {
    font-size: calc(20px + 12 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  h1 {
    font-size: calc(20px + 12 * (40vw / 1280));
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: calc(18px + 13.6 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  h2 {
    font-size: calc(18px + 8 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  h2 {
    font-size: calc(18px + 8 * (40vw / 1280));
  }
}

@media (max-width: 767px) {
  h3 {
    font-size: calc(15px + 13.6 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  h3 {
    font-size: calc(15px + 8 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  h3 {
    font-size: calc(15px + 8 * (40vw / 1280));
  }
}

@media (max-width: 767px) {
  h4 {
    font-size: calc(14px + 10.2 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  h4 {
    font-size: calc(14px + 6 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  h4 {
    font-size: calc(14px + 6 * (40vw / 1280));
  }
}

@media (max-width: 767px) {
  h5 {
    font-size: calc(13px + 8.5 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  h5 {
    font-size: calc(13px + 5 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  h5 {
    font-size: calc(13px + 5 * (40vw / 1280));
  }
}

.section-items {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10fr 3fr 3fr;
      grid-template-columns: 10fr 3fr 3fr;
  -ms-grid-rows: min-content min-content min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content min-content min-content;
      grid-template-areas: 'image sub-item properties' 'image toppings toppings' 'info warning warning';
  -webkit-column-gap: calc(5px + 3vw);
          column-gap: calc(5px + 3vw);
  row-gap: calc(calc(10px + 0.5vw));
  margin: calc(5px + 3vw);
}

.section-items a {
  color: #000;
}

.section-items .action-image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: image;
}

.section-items .action-image img {
  width: 100%;
}

.section-items .action-sub-item {
  align-self: flex-start;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: sub-item;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: calc(calc(5px + 0.3vw));
  -ms-grid-rows: max-content max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content max-content;
}

.section-items .action-sub-item__title {
  font-family: GolosMedium;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.section-items .action-sub-item__discription {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.section-items .action-sub-item__price {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: GolosMedium;
}

.section-items .action-sub-item__buy {
  font-family: GolosMedium;
  text-align: center;
  border: 3px solid #F8D89C;
  border-radius: 5vw;
  padding: 3px 3px;
}

.section-items .action-sub-item__buy:active {
  background-color: #F8D89C;
}

.section-items .action-properties {
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: properties;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: max-content max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content max-content;
  gap: calc(calc(10px + 0.5vw));
}

.section-items .action-properties .properties-item {
  position: relative;
  padding-left: 10px;
}

.section-items .action-properties .properties-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 3px;
  background-color: #F8D89C;
}

.section-items .action-info {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: info;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: max-content max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content max-content;
  gap: calc(calc(10px + 0.5vw));
}

.section-items .action-info .action-terms {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: max-content max-content max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content max-content max-content;
  gap: calc(calc(10px + 0.5vw));
}

.section-items .action-info .action-terms__item {
  position: relative;
  margin-left: calc(5px + 3vw);
  padding-left: 10px;
}

.section-items .action-info .action-terms__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 3px;
  background-color: #F8D89C;
}

.section-items .action-warning {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: warning;
  position: relative;
  padding-top: calc(50px + 20%);
}

.section-items .action-warning__image {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100px + 30%);
}

.section-items .action-warning__item {
  position: relative;
  margin-bottom: calc(calc(10px + 0.5vw));
  margin-left: calc($marginContent + $marginContent);
  padding-left: 10px;
}

.section-items .action-warning__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 3px;
  background-color: #F8D89C;
}

.section-items .toppings {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: toppings;
  align-self: flex-start;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  -webkit-column-gap: calc(calc(10px + 2vw));
          column-gap: calc(calc(10px + 2vw));
  row-gap: calc(calc(10px + 0.5vw));
}

.section-items .toppings__title {
  font-family: GolosMedium;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.section-items .toppings__item {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 1fr auto auto;
      grid-template-rows: auto 1fr auto auto;
  gap: calc(calc(5px + 0.3vw));
}

.section-items .toppings__sub-image {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.section-items .toppings__sub-image img {
  width: 100%;
}

.section-items .toppings__sub-title {
  font-family: GolosMedium;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.section-items .toppings__sub-price {
  font-family: GolosMedium;
  -ms-grid-column-align: end;
      justify-self: end;
}

.section-items .toppings__add {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  border: 3px solid #000;
  border-radius: 5vw;
  padding: 3px 0;
  width: 100%;
}

.section-items .toppings__add:active {
  border: 3px solid #F8D89C;
  background-color: #F8D89C;
}

@media (max-width: 460px) {
  .section-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'image' 'sub-item' 'properties' 'info' 'toppings' 'warning';
    -webkit-column-gap: calc(15px + 5vw);
            column-gap: calc(15px + 5vw);
    row-gap: calc(15px + 5vw);
    margin: calc(calc(10px + 0.5vw)) calc(calc(5px + 0.3vw));
  }
  .section-items .action-sub-item {
    gap: calc(calc(10px + 0.5vw));
  }
  .section-items .action-sub-item__buy {
    border: 1px solid #F8D89C;
  }
  .section-items .action-warning {
    padding-top: calc(60px + 20%);
  }
  .section-items .toppings__item {
    gap: calc(calc(10px + 0.5vw));
  }
  .section-items .toppings__add {
    border: 1px solid #000;
  }
  .section-items .toppings__add:active {
    border: 1px solid #F8D89C;
    background-color: #F8D89C;
  }
}

@media (min-width: 461px) and (max-width: 767px) {
  .section-items {
    -ms-grid-columns: 5fr 3fr;
        grid-template-columns: 5fr 3fr;
        grid-template-areas: 'image image' 'sub-item properties' 'info info' 'toppings toppings' 'warning warning';
    -webkit-column-gap: calc(15px + 5vw);
            column-gap: calc(15px + 5vw);
    row-gap: calc(15px + 5vw);
    margin: calc(calc(10px + 2vw));
  }
  .section-items .action-sub-item {
    gap: calc(calc(10px + 0.5vw));
  }
  .section-items .action-sub-item__buy {
    padding: 6px 2px;
    border: 1px solid #F8D89C;
  }
  .section-items .action-warning {
    padding-top: calc(60px + 20%);
  }
  .section-items .toppings__item {
    gap: calc(calc(10px + 0.5vw));
  }
  .section-items .toppings__add {
    padding: 6px 2px;
    border: 1px solid #000;
  }
  .section-items .toppings__add:active {
    border: 1px solid #F8D89C;
    background-color: #F8D89C;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .section-items {
    -ms-grid-columns: 5fr 3fr;
        grid-template-columns: 5fr 3fr;
        grid-template-areas: 'image sub-item' 'image properties' 'info warning' 'toppings warning';
    -webkit-column-gap: calc(5px + 3vw);
            column-gap: calc(5px + 3vw);
    row-gap: calc(5px + 3vw);
    margin: calc(calc(10px + 2vw));
  }
  .section-items .action-sub-item {
    -ms-flex-item-align: start;
        align-self: flex-start;
    gap: calc(calc(10px + 0.5vw));
  }
  .section-items .action-sub-item__buy {
    padding: 6px 2px;
    border: 2px solid #F8D89C;
  }
  .section-items .action-properties {
    -ms-flex-item-align: end;
        align-self: flex-end;
    gap: calc(calc(10px + 2vw));
  }
  .section-items .toppings {
    -webkit-column-gap: calc(calc(10px + 2vw));
            column-gap: calc(calc(10px + 2vw));
    row-gap: calc(calc(10px + 2vw));
  }
  .section-items .toppings__item {
    gap: calc(calc(10px + 0.5vw));
  }
  .section-items .toppings__add {
    padding: 6px 2px;
    border: 2px solid #000;
  }
  .section-items .toppings__add:active {
    border: 2px solid #F8D89C;
    background-color: #F8D89C;
  }
}

@media (min-width: 1024px) and (max-width: 1250px) {
  .section-items {
    -ms-grid-columns: 10fr 3fr 3fr;
        grid-template-columns: 10fr 3fr 3fr;
    -ms-grid-rows: max-content max-content calc(30px - 1.5vw) max-content;
        grid-template-rows: -webkit-max-content -webkit-max-content calc(30px - 1.5vw) -webkit-max-content;
        grid-template-rows: max-content max-content calc(30px - 1.5vw) max-content;
        grid-template-areas: 'image sub-item properties' 'image toppings toppings' 'info toppings toppings' 'info warning warning';
  }
  .section-items .action-sub-item__buy {
    border: 2px solid #F8D89C;
  }
  .section-items .toppings__add {
    border: 2px solid #000;
  }
  .section-items .toppings__add:active {
    border: 2px solid #F8D89C;
    background-color: #F8D89C;
  }
}

@media (min-width: 1251px) and (max-width: 1450px) {
  .section-items .action-sub-item__buy {
    border: 2px solid #F8D89C;
  }
  .section-items .toppings__add {
    border: 2px solid #000;
  }
  .section-items .toppings__add:active {
    border: 2px solid #F8D89C;
    background-color: #F8D89C;
  }
}
/*# sourceMappingURL=section-action-buy.css.map */