@import './modules/nullStyle.scss';
@import './modules/fonts.scss';
@import './modules/variables.scss';
@import './modules/bootstrap.scss';

.section-items {
  flex: 1 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  margin: $marginContent;

  &__form {
    align-self: flex-start;

    display: grid;
    grid-template-columns: 4fr 1fr 2fr 1fr 4fr;
    gap: $indent;
  }

  &__title {
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
  }

  &__sub-titles {
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    justify-content: center;
    margin-right: 10vw;
  }

  &__sub-titles-body {
    display: grid;
    gap: $indent;
  }

  &__sub-title {
    position: relative;
    margin-left: calc(70px + 5vw);
    padding-left: 10px;


    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: calc(12px + 0.6vw);
      background-color: $yellow;
    }

    &_down {
      margin-bottom: $indent;
    }
  }

  &__image {
    position: relative;

    & img {
      width: calc(50px + 5vw);

      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__item {
    border: 3px solid $yellow;
    padding: calc(3px + 0.5vw) calc(6px + 0.9vw);
    border-radius: calc(6px + 1.1vw);

    & input {
      width: 100%;
    }

    grid-column-start: 2;
    grid-column-end: 5;
  }

  &__sub-item {
    grid-column-start: 2;
    grid-column-end: 5;
  }

  &__email {}

  &__password {}

  .item-agree {
    margin-top: $indent;
    display: flex;
    justify-content: center;

    &__body {
      display: grid;
      grid-template-columns: 35px 1fr;
      align-items: center;

      gap: $indent;
    }

    &__span {
      justify-self: center;
      position: relative;
      display: block;
      width: 24px;
      height: 24px;
      background: rgb(255, 255, 255);
      border: 3px solid $yellow;

      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &::before {
        transition: 0.2s;
        content: '';
        opacity: 0;
        position: absolute;
        top: -13px;
        left: -4px;
        width: 30px;
        height: 28px;
        background: url('@img/agreeOkay.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    label input[type="checkbox"]:checked+.item-agree__span {
      &::before {
        opacity: 100%;
      }
    }
  }



  &__regestration {
    margin-top: $indent;
    width: 100%;
    border: 3px solid $gray;
    color: $gray;
    border-radius: 15px;
    padding: 5px 10px;

    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;

    &:active {
      background-color: $yellow;
    }
  }
}

.data-processing {
  font-family: $medium;
  font-style: oblique;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 460px) {
  .section-items {
    margin: $indent $indentSmall;

    &__item {
      border: 1px solid $yellow;
    }

    .item-agree {
      &__span {
        border: 1px solid $yellow;
      }
    }

    &__regestration {
      border: 1px solid $gray;
    }

    &__form {
      grid-template-columns: 0 1fr 2fr 1fr 0;
      column-gap: 0;
    }

    &__sub-titles {
      margin-right: 0;
    }
  }
}

@media (min-width: 461px) and (max-width: 1023px) {
  .section-items {
    margin: $indentBig;

    &__form {
      grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
    }

    &__sub-titles {
      margin-right: 0;
    }
  }
}

@media (min-width: 1024px) {
  .section-items {
    &__form {}
  }
}

@media (min-width: 461px) and (max-width: 1450px) {
  .section-items {
    &__item {
      border: $borderM solid $yellow;
    }

    .item-agree {
      &__span {
        border: $borderM solid $yellow;
      }
    }

    &__regestration {
      border: $borderM solid $gray;
    }
  }
}