@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  color: black;
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*--------------------*/
@font-face {
  font-family: GolosMedium;
  font-display: swap;
  src: url("../fonts/Golos-Text_Medium.woff2") format("woff2"), url("../fonts/Golos-Text_Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosRegular;
  font-display: swap;
  src: url("../fonts/Golos-Text_Regular.woff2") format("woff2"), url("../fonts/Golos-Text_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 767px) {
  .h1Big {
    font-size: calc(25px + 25.5 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  .h1Big {
    font-size: calc(25px + 15 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  .h1Big {
    font-size: calc(25px + 15 * (40vw / 1280));
  }
}

@media (max-width: 767px) {
  .h3 {
    font-size: calc(15px + 8.5 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  .h3 {
    font-size: calc(15px + 5 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  .h3 {
    font-size: calc(15px + 5 * (40vw / 1280));
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: calc(20px + 20.4 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  h1 {
    font-size: calc(20px + 12 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  h1 {
    font-size: calc(20px + 12 * (40vw / 1280));
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: calc(18px + 13.6 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  h2 {
    font-size: calc(18px + 8 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  h2 {
    font-size: calc(18px + 8 * (40vw / 1280));
  }
}

@media (max-width: 767px) {
  h3 {
    font-size: calc(15px + 13.6 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  h3 {
    font-size: calc(15px + 8 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  h3 {
    font-size: calc(15px + 8 * (40vw / 1280));
  }
}

@media (max-width: 767px) {
  h4 {
    font-size: calc(14px + 10.2 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  h4 {
    font-size: calc(14px + 6 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  h4 {
    font-size: calc(14px + 6 * (40vw / 1280));
  }
}

@media (max-width: 767px) {
  h5 {
    font-size: calc(13px + 8.5 * ((40vw - 320px) / 1280));
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  h5 {
    font-size: calc(13px + 5 * (1vw / 1280));
  }
}

@media (min-width: 1481px) {
  h5 {
    font-size: calc(13px + 5 * (40vw / 1280));
  }
}

.section-items {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: calc(15px + 5vw);
  margin: 4vw 10vw;
  display: grid;
}

.section-items__delivery-title {
  text-align: center;
  margin-bottom: calc(calc(10px + 0.5vw));
}

.section-items__payment-title {
  text-align: center;
  margin-bottom: calc(calc(10px + 0.5vw));
}

.section-items__contacts-title {
  text-align: center;
  margin-bottom: calc(calc(10px + 0.5vw));
}

.section-items__contacts-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: calc(5px + 3vw);
  justify-items: center;
}

.section-items .contacts-body-item {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.section-items .contacts-body-item__offer {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.section-items .contacts-body-item__quantity {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.section-items .contacts-body-item__title {
  margin-bottom: calc(calc(5px + 0.3vw));
}

.section-items .contacts-body-qr__phone {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-items .contacts-body-qr__code {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-items .contacts-body-qr__phone {
  padding: 0 1vw;
  width: 100%;
}

.section-items .contacts-body-qr__whatsapp {
  padding: 0 1vw;
  width: 87%;
}

@media (max-width: 460px) {
  .section-items {
    margin: calc(calc(10px + 0.5vw));
  }
  .section-items__contacts-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: calc(calc(10px + 0.5vw));
    justify-items: center;
  }
  .section-items .contacts-body-item {
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  .section-items .contacts-body-item__offer {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
  .section-items .contacts-body-item__quantity {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
  }
  .section-items .contacts-body-item__title {
    margin-bottom: calc(calc(5px + 0.3vw));
  }
  .section-items .contacts-body-qr__phone {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section-items .contacts-body-qr__code {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section-items .contacts-body-qr__phone {
    padding: 0 4vw;
    width: 100%;
  }
  .section-items .contacts-body-qr__whatsapp {
    padding: 0 4vw;
    width: 87%;
  }
}

@media (min-width: 461px) and (max-width: 768px) {
  .section-items {
    margin: calc(calc(10px + 0.5vw)) calc(calc(5px + 0.3vw));
  }
  .section-items__contacts-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: calc(calc(10px + 0.5vw));
    justify-items: center;
  }
  .section-items .contacts-body-item {
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  .section-items .contacts-body-item__offer {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  .section-items .contacts-body-item__quantity {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .section-items .contacts-body-item__title {
    margin-bottom: calc(calc(5px + 0.3vw));
  }
  .section-items .contacts-body-qr__phone {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section-items .contacts-body-qr__code {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section-items .contacts-body-qr__phone {
    width: 100%;
  }
  .section-items .contacts-body-qr__whatsapp {
    width: 87%;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .section-items {
    margin: calc(calc(10px + 2vw));
  }
}
/*# sourceMappingURL=section-terms.css.map */