@import './modules/nullStyle.scss';
@import './modules/fonts.scss';
@import './modules/variables.scss';
@import './modules/bootstrap.scss';

.section-items {
  flex: 1 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: $marginContent;

  &__form {
    align-self: flex-start;
    grid-column-start: 2;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: $indent;
  }

  &__title {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    margin-bottom: $indent;
  }

  &__email {
    border: 3px solid $yellow;
    padding: calc(3px + 0.5vw) calc(6px + 0.9vw);
    border-radius: calc(6px + 1.1vw);

    & input {
      width: 100%;

    }

    grid-column-start: 1;
    grid-column-end: 4;
  }

  &__password {
    border: 3px solid $yellow;
    padding: calc(3px + 0.5vw) calc(6px + 0.9vw);
    border-radius: calc(6px + 1.1vw);

    & input {
      width: 100%;
    }

    grid-column-start: 1;
    grid-column-end: 4;
  }

  &__forgot-password {
    margin-left: 10px;
    grid-column-start: 1;
    grid-column-end: 4;

    margin-bottom: $indent;

    & a {
      :hover {
        text-decoration: underline;
      }

      & h4 {
        display: inline;
      }
    }
  }

  &__send {
    margin-top: $indent;
    width: 100%;
    border: 3px solid $gray;
    color: $gray;
    border-radius: 15px;
    padding: 5px 10px;

    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;

    &:active {
      background-color: $yellow;
    }
  }
}

@media (max-width: 460px) {
  .section-items {
    margin: $indent $indentSmall;
    grid-template-columns: 0 1fr 0;

    &__email {
      border: 1px solid $yellow;
    }

    &__password {
      border: 1px solid $yellow;
    }

    &__send {
      border: 1px solid $gray;
    }
  }
}

@media (min-width: 461px) and (max-width: 1023px) {
  .section-items {
    margin: $indentBig;
    grid-template-columns: 1fr calc(300px + 10vw) 1fr;
  }
}

@media (min-width: 1024px) {}

@media (min-width: 461px) and (max-width: 1450px) {
  .section-items {
    &__email {
      border: $borderM solid $yellow;
    }

    &__password {
      border: $borderM solid $yellow;
    }

    &__send {
      border: $borderM solid $gray;
    }
  }
}